body{
    font-family: "Cormorant Garamond", serif;
    margin: 0px;
    background-image:url(https://istefan.ro/img/hero/web-developer-newsletter-coder-stefan-iordache.jpg);
  }
h1,ul,li,p{
    color:black;
}
.fond{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
a{
    background-color: #86abb7;
    border-radius: 5px;
    text-decoration: none;
}
div {background-color:rgb(43, 97, 167);
height:22%;
width:45% ;
}